<footer class="footer row">
	<h3>SUIVEZ-NOUS SUR</h3>
	<img src="/images/facebook-logo-button.png"/>
	<img src="/images/instagram-logo.png"/>
	<img src="/images/twitter-logo-button.png"/>

	<ul>
		<li><a href="#">ESPACE PRESSE</a></li>
		<li><a href="#">CONTACT</a></li>
		<li><a href="#">CVG</a></li>
		<li><a href="#">MENTION LEGALES</a></li>
		<li><a href="#">SITE MAP</a></li>

	</ul>
</footer>